<%- include('../partials/head', { title: tournament.name }) %>
<%- include('../partials/topbar') %>
<main class="app-shell" data-tournament-id="<%= tournament.id %>">
  <%- include('detail-parts/hero', detailContext) %>
  <%- include('detail-parts/players', detailContext) %>
  <%- include('detail-parts/fund', detailContext) %>
  <%- include('detail-parts/ranking', detailContext) %>
  <%- include('detail-parts/schedule', detailContext) %>
  <%- include('detail-parts/fees', detailContext) %>
  <%- include('detail-parts/settings', detailContext) %>
</main>
<%- include('detail-parts/menu-scripts') %>
